extends base.pug

block content
	
	div This is the main page

	br
	a(href='/view-posts') View Posts
	br
	a(href='/view-accounts') View User Accounts
	br
	a(href='/delete-posts') Delete Posts
	br
	a(href='/delete-accounts') Delete User Accounts

	br
	br

	form(method='POST' action='logout')
		input(type='submit' value='Logout')